<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		{{! Archivos Bootstrap }}
		<link rel='stylesheet' href='./bootstrap/css/bootstrap.css' />
		<script defer src='./bootstrap/js/bootstrap.bundle.js'></script>
		<title>Document</title>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href='/'>Home</a></li>
				<li><a href='/about'>About</a></li>
				<li><a href='/productos'>Productos</a></li>
			</ul>
		</nav>
		{{! En body se renderizarán las vistas }}
		<div class='container'>

			{{{body}}}
		</div>
	</body>
</html>