<h2 class="display-6 text-center">Listado de usuarios del sistema</h2>
{{#if usuarios}}
    {{>tabla data=usuarios}}
    {{else}}
    {{> card title='No hay usuarios registrados' msg='Lamentamos estos inconvenientes.'}}
{{/if}}